#advertencia{
  background: #F2D22E;
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* estilos de la imagen */
#caution{
  position: relative;
  width: 25%;
  top: 23em;
}

/* advertencia  */
#advertencia h1 {
  position: relative;
  font-size: 4em;
  font-weight: 600;
  top: 5.8em;
}

/* cuerpo de advertencia */
#advertencia h3 {
  position: relative;
  top: 9.4em;
  font-size: 2.5em;
}

/* estilos de explicacion */

#explicacion {
  background: #B1F5C3;
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}
#keseso{
  border: solid;
  position: relative;
  top: 8em;
}
#explicacion ul{
  text-align: left;
}

#explicacion h1{
  font-size: 3em;
  position: relative;
/*  background: yellow;
  border: solid;
  border-color: black;
  border-radius:20px;*/
  width: 80%;
  left: 10%;
  top: 4%;
}

#explicacion h3{
   position: relative;
   text-align: left;
   top: 7%;
  /* background: yellow;
   border: solid;
   border-color: black;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;*/
   font-size: 2em;
   padding: 8%;

}
/* Aviso de recuerdos */
#aviso1 {
  background: #EBB8B8;
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}
#aviso1 h1{
  position: relative;
  font-weight: 500;
  top: 20%;
  font-size: 6em;
}
#uno {
  border: solid;
  border-color: black;
  border-radius: 20px;
  position: relative;
  top: 30em;
}

/* Recuerdos */

#recuerdos {
  background: #A5517E;
}

#recuerdos h1{
  font-size: 3em;
}

#recuerdos1 {
  text-align: center;
  position: relative;
  top: 5em;
}

#recuerdos2{
  border: solid;
  width: 100%;
  position: relative;
  top: 8em;
}

#recuerdos3{
  text-align: center;
  position: relative;
  top: 13em;
}

#recuerdos4{
  border: solid;
  width: 100%;
  position: relative;
  top: 18em;
  margin-bottom: 50%;
}

/* Cosas que me gustan de ti */

#gustos {
  background: white;
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}
#gustos h1{
  color: white;
  font-size: 8em;
  position: relative;
  top: 20%;
  margin: 20%;
}

.carousel-item, active{
  height: 100vh;
  width: 100vw;
  background: black;
}

h5 {
  font-size: 4em;
}

p {
  font-size: 2em;
}

#alegria {
  width: 100%;
}

#gestos {
  width: 100%;
}

#labios {
  width: 100%;
}

#unica {
  width: 100%;
}

#atlas {
  width: 100%;
}

#comiendo {
  width: 100%;
}

#memiras {
  width: 100%;
}

#cejas {
  width: 100%;
}

#sonrisa {
  width: 100%;
}

#beso {
  width: 100%;
  height: 50%;
}

#outfit {
  width: 100%;
}

#carita {
  width: 100%;
}

#perfil {
  width: 100%;
}

#ojos {
  width: 100%;
}

#cabello {
  width: 100%;
}

/* Promesa */
#promesa{
  background: #F3C49A;
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

#promesa h1{
  font-size: 4em;
  position: relative;
  top: 10%;
}

#promesa h2{
  font-size: 2.5em;
  position: relative;
  top: 11%;
}

#prom{
  position: relative;
  top: 15em;
  border: solid;
}

/*  bella */
#bella {
  background: #E2CBFC;
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}
#bella h1{
  font-size: 5em;
  position: relative;
  top: 20%;
}
#flecha{
  width: 45em;
  height: 45em;
  transform: rotate(295deg);
  position: relative;
  top: 30em;
}
/* Collage */

#collage{
  background:rgb(21, 82, 82);
  text-align: center;
  position: relative;
  width: 100vw;


  /* display grid  */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

#collage img {
  width: 100%;
}

/* Aviso2 */

#aviso2 {
  background:#249E70;
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

#aviso2 h1 {
  position: relative;
  font-weight: 500;
  top: 20%;
  font-size: 6em;
}

/* Recuerdos 2 */

/* Recuerdos */

#recuerdos {
  background: #A5517E;
}

#recuerdos h1{
  font-size: 3em;
}

#recuerdos5 {
  text-align: center;
  position: relative;
  top: 5em;
}

#recuerdos6{
  border: solid;
  width: 100%;
  position: relative;
  top: 8em;
}

#recuerdos7{
  text-align: center;
  position: relative;
  top: 13em;
}

#recuerdos8{
  border: solid;
  width: 100%;
  position: relative;
  top: 18em;
  margin-bottom: 50%;
}


/* Cupon */

#felicitacion{
  background: black;
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

#felicidades{
  width: 40em;
  height: 40em;
}

#cupon {
  border-style: dashed;
  border-color: white;
  border-width: medium;
  color: white;
  margin: 10%;
  padding: 10%;
  height: 40em;
}

#cupon h2{
  position: relative;
  top: 10%
}
#cupon h1{
  position: relative;
}
#cubiertos{
  position: relative;
  width: 10em;
  height: 10em;
  top: 1em;
}

/* Video */

#video {
  height: 100vh;
  width: 100wh;
  background: white;
}
#video h1{
text-align: center;
position: relative;
top: 6%;
font-size: 3em;
}

#video h2{
text-align: center;
position: relative;
top: 6%;
font-size: 3em;
}

#video1 {
  position: relative;
  width: 100%; 
  height: 100%;
  top: 12em;
}